---
layout: default
---

<div class="container">
    <!-- Navigation -->
    <nav class="nav nav-underline justify-content-center">
        <a class="nav-link" aria-current="page" href="index.html">Home</a>
        <a class="nav-link active" aria-current="page">Resume</a>
    </nav>

    {% for section in site.data.resume %}
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 gy-3">

          <!-- Section header -->
          <div class="row justify-content-center">
            <div class="col"><hr></div>
            <div class="col-auto"><h3>{{section.title}}</h3></div>
            <div class="col"><hr></div>
          </div>

          {% if section.publications %}
            <!-- Publications section -->
            {% for publication in section.publications %}
                <div class="row justify-content-center">
                    <div class="col">
                        <h6 class="text-primary">
                          {{publication.title}}
                          <a class="icon-link" href="/assets/pdf/papers/{{publication.pdf}}.pdf" download>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                            </svg>
                          </a>
                        </h6>
                        <p>{{publication.citation}}</p>
                    </div>
                </div>
              {% endfor %}

          {% else %}
            <!-- Regular section -->
            {% for item in section.items %}
              <div class="row justify-content-center">
                <div class="col-3 text-end">
                  <p class="text-secondary">{{item.date}}</p>
                </div>
                <div class="col-9">
                  <h6 class="text-primary">{{item.title}}</h6>
                  <p class="text-primary-emphasis">{{item.place}}</p>
                  <p>{{item.details}}</p>
                </div>
              </div>
            {% endfor %}

          {% endif %}
        </div>
      </div>
    {% endfor %}

</div>