{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contact</div>
    {% if contact.email %}
        <div class="contact-item">
            <a href="mailto:{{contact.email}}">
                <i data-feather="mail"></i>
            </a>
            <a href="mailto:{{contact.email}}">
                {{contact.email}}
            </a>
        </div>
    {% endif %}
    
    {% if contact.researchgate %}
        <div class="contact-item">
            <a href="{{contact.researchgate}}">
                <img src="assets/icons/ResearchGate.png" width="18px">
            </a>
            <a href="{{contact.researchgate}}">
                ResearchGate
            </a>
        </div>
    {% endif %}
    
    {% if contact.google-scholar %}
        <div class="contact-item">
            <a href="{{contact.google-scholar}}">
                <img src="assets/icons/GoogleScholat.png" width="18px">
            </a>
            <a href="{{contact.google-scholar}}">
                Google Scholar
            </a>
        </div>
    {% endif %}

    {% if contact.github %}
        <div class="contact-item">
            <a href="{{contact.github}}">
                <img src="assets/icons/Github.png" width="18px">
            </a>
            <a href="{{contact.github}}">
                GitHub
            </a>
        </div>
    {% endif %}
    
    {% if contact.orcid %}
        <div class="contact-item">
            <a href="{{contact.orcid}}">
                <img src="assets/icons/ORCID.png" width="18px">
            </a>
            <a href="{{contact.orcid}}">
                ORCID
            </a>
        </div>
    {% endif %}

</section>
{% endif %}