{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contact</div>
    {% if contact.email %}
        <div class="contact-item">
            <i data-feather="mail"></i>
            <a href="mailto:{{contact.email}}">
                {{contact.email}}
            </a>
        </div>
    {% endif %}

    {% if contact.github %}
        <div class="contact-item">
            <i data-feather="github"></i>
            <img src="assets/icons/Github.png" width="18px">
            <a href="{{contact.github}}">
                GitHub
            </a>
        </div>
    {% endif %}
    
    {% if contact.researchgate %}
        <div class="contact-item-fontawesome">
            <a href="{{contact.researchgate}}">
                <i class="fa-brands fa-researchgate"></i>
                ResearchGate
            </a>
        </div>
    {% endif %}

</section>
{% endif %}