{% assign education = site.data.data.education %}
{% if education %}
<section class="experience">
    <h2 class="title">Education</h2>
    {% for exp in education %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
        </div>
       
    {% endfor %}
</section>
{% endif %}