<div class="experience-item" id="grid_resume">
    {% for exp in experience %}
        <!-- Date on the left -->
        <div id="column_left_resume">
            <span class="time">{{exp.time}}</span>
        </div>
        <!-- Eveyrhing else on the right -->
        <div id="column_right_resume">
            <div class="role">
                {{exp.item-title}}
            </div>
            <div class="company">
                {{exp.place}} 
            </div> 
            <div class="details">
                {{exp.details}}
            </div>
        </div>
    {% endfor %}
</div