{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="baseitem">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.itemtitle}}
            </div>
            <div class="company">
                {{exp.place}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
        </div>
       
    {% endfor %}
</section>
{% endif %}