{% assign outreach = site.data.data.outreach %}
{% if outreach %}
<section class="experience">
    <h2 class="title">Public and scientific outreach</h2>
    {% for exp in outreach %}
        <div class="experience-item">
            <div class="role">
                {{exp.item-title}}
            </div>
            <div class="company">
                {{exp.place}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
        </div>
       
    {% endfor %}
</section>
{% endif %}