{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="publications">
    <h2 class="title">Publications</h2>
    <div class="publication-items">
        {% for pub in publications%}
            <div class="publication-item">
                <div class="publication-title">
                    <a href="{{pub.link}}">{{pub.title}}</a>
                </div>
                <div class="citation">{{pub.citation}}</div> 
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}