* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: justify;
    line-height: 1.5;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 700px;
    min-height: 700px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
    
    a, a:link, a:visited {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }

}

#grid_home {
    display: grid;
    width: 100%;
    grid-template-columns: 75% auto;
}

#column_left_home {
    padding-right: 10px;
}

#column_right_home {
    padding-left: 10px;
}