.experience {
    .title {
        @include header;
    }
    .experience-item {
        margin-bottom: 20px;
        .time {
            @include body-text;
            float: right;
            color: var(--fg-color-title-sm);
            font-weight: 100;
        }
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-style: italic;
        }
        .details {
            @include body-text;
        }
    }
}

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 20% auto;
}