.experience {
    .title {
        @include header;
    }
    .experience-item {
        .time {
            @include body-text;
            float: right;
            color: var(--fg-color-title-sm);
            font-weight: 100;
        }
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-style: italic;
        }
        .details {
            @include body-text;
        }
    }
}

#grid_resume {
    display: grid;
    width: 100%;
    grid-template-columns: 15% auto;
}

#column_left_resume {
    padding-right: 10px;
    padding-bottom:20px;
}

#column_right_resume {
    padding-left: 10px;
    padding-bottom:20px;
}