:root {
    --bg-color: #ffffff;
    --bg-color-cv: #ffffff;
    --fg-color: #00629b;
    --fg-color-dark: #023b5b;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #8f8f8f;
    --fg-color-highlight: #202020;

}

[data-theme='dark'] {
    --bg-color: #1b262c;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(228, 228, 228, 0.75);
    --fg-color-title-sm: #688293;
    --fg-color-highlight: #f1f1f1;
}
