:root {
    --bg-color: #ffffff;
    --bg-color-cv: #ffffff;
    --fg-color: #00629b;
    --fg-color-dark: #023b5b;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #688293;
    --fg-color-highlight: #333333;

}

[data-theme='dark'] {
    --bg-color: #1b262c;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(223, 223, 223, 0.75);
    --fg-color-title-sm: #688293;
    --fg-color-highlight: #d1d1d1;
}
